<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miracle.mapper.RoutineMapper">
	<select id="select" parameterType="Integer" resultType="RoutineDto">
		SELECT * FROM routine WHERE r_code=#{r_code}
	</select>
	<select id="selectall" resultType="RoutineDto">
		SELECT * FROM routine
	</select>
	<insert id="insert" parameterType="RoutineDto">
		INSERT INTO routine VALUES({#r_code},#{r_explain})
	</insert>
	<delete id="delete" parameterType="Integer">
		DELETE FROM routine WHERE r_code=#{r_code}
	</delete>
	<update id="update" parameterType="RoutineDto">
		UPDATE routine SET r_explain=#{r_explain} WHERE r_code=#{r_code}
	</update>
</mapper>