<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookcance.mapper.MeetMapper">
	<select id="select" parameterType="Integer" resultType="MeetDto">
		SELECT * FROM meet WHERE meet_no=#{meet_no}
	</select>
	<select id="selectall" resultType="MeetDto">
		SELECT * FROM meet
	</select>
	<insert id="insert" parameterType="MeetDto">
		INSERT INTO meet VALUES(#{meet_no},#{userid},#{meet_title},#{meet_content},#{meet_heart},#{meet_img},#{meet_result},CURRENT_DATE())
	</insert>
	<delete id="delete" parameterType="Integer">
		DELETE FROM meet WHERE meet_no=#{meet_no}
	</delete>
	<update id="update" parameterType="MeetDto">
		UPDATE meet SET meet_title=#{meet_title},meet_content=#{meet_content},meet_heart=#{meet_heart},meet_img=#{meet_img},meet_result=#{meet_result},writedate=CURRENT_DATE() 
		WHERE meet_no=#{meet_no}
	</update>
</mapper>